
.autocomplete
  position: relative
  transition: all 400ms
  border-radius: 2px
  text-align: left

.login-form input.autocomplete--field, // TEMP EXTRA class
input.autocomplete--field
  margin-top: 0
  margin-bottom: 0

.autocomplete--field:focus
  border-bottom-right-radius: 0
  border-bottom-left-radius: 0


.autocomplete--results
  shadow(2)
  position: absolute
  background: #fff

.autocomplete--option
  padding: 0.45em 0.6em
  cursor: pointer
  white-space: nowrap

  &.selected,
  &:hover
    background: $fillColor
