
.autocomplete
  position: relative
  transition: all 400ms
  border-radius: 2px
  text-align: left

.login-form input.autocomplete--field, // TEMP EXTRA class
input.autocomplete--field
  margin-top: 0
  margin-bottom: 0

// RM for rounded corners
// .autocomplete--field:focus
//   border-bottom-right-radius: 0
//   border-bottom-left-radius: 0


.autocomplete--results
  position: absolute
  top: 101%
  top calc(100% + 2px)
  shadow(2)
  border-radius: 16px // roughly half the input height
  overflow: hidden
  background: #fff

.autocomplete--option
  padding: 0.45em 1em
  cursor: pointer
  white-space: nowrap

  &.selected,
  &:hover
    background: $lightFillColor
    color: $linkColor
