
.avatar
  display: block
  width: $avatarSize
  height: $avatarSize
  border-radius: 50%
  // border: 2px solid #fff
  // box-shadow: 0 1px 1px rgba(0,0,0,0.2)
    
  &.small
    width: 30px
    height: 30px