
$buttonColor = $fillColor
$buttonRadius = 20px


.button,
button
  display: inline-block
  padding: 0.3em 1em 0.4em

  background-color: lighten($buttonColor, 10%)
  border-radius: $buttonRadius
  border: 0

  font-size: 15px
  line-height: 1.4em
  color: $textColor
  text-decoration: none

  // Button sizes
  &.small
    font-size: 12px

  // Button styles
  &.material-icons
    height: 2em
    width: 2em
    padding: 0
    border-radius: 160px // to keep it circular

  &.clear,
  &.hollow
    background-color: transparent

    &:hover
      background-color: rgba(182, 186, 189, 0.2)

  &.hollow
    border: 1px solid $borderColor

  &.cta
    background-color: lighten($brandColor, 10%)
    color: #fff

    &:hover
      background-color: $brandColor

  // Button states
  &::after
    content: none
    width: inherit
    height: inherit

  &:focus
    outline: 0

  &:hover
    background-color: darken($buttonColor, 8%)

  &[disabled]
    opacity: 0.5
    &:hover
      background-color: inherit

  &.selected
    background-color: darken($buttonColor, 10%)


input[type="submit"].button
  border: 0


// Button groups
.button-group
  display: inline-block

  > button,
  > .button
    border-radius: 0
    border-right-width: 0

    &:first-of-type
      padding-left: 1.1em
      border-radius: $buttonRadius 0 0 $buttonRadius

    &:last-of-type
      padding-right: 1.1em
      border-right-width: 1px
      border-radius: 0 $buttonRadius $buttonRadius 0
