input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea
  box-sizing: border-box

  // Underline style:
  // padding: 0.45em 0.6em
  // border: 0;
  // border-bottom: 1px solid $inputBorderColor

  // Rounded style:
  padding: 0.4em 1em 0.5em
  border: 1px solid $inputBorderColor
  border-radius: 100px

  &:focus
    outline: none
    border-color: $linkColor


// remove chrome autofill color
input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset

label
  display: block
  margin-left: 0.5em
  // For rounded style:
  margin-left: 1rem
  margin-left: calc(1rem + 1px)
  margin-bottom: 0.5em
  font-size: 0.8em
  color: $mutedColor

  &.label-radio
    margin-left: 0
    font-size: 1em
    color: inherit

    input
      margin: 0 0.5em

select
  display: inline-block
  padding: 0.3em 1em 0.4em

  background-color: #fff
  border-radius: 20px
  border: 1px solid #bcc2d0
  font-size: 14px
  cursor: pointer
  appearance: none

  &:active
  &:focus
    outline: none

.form-row
  margin: 1em 0
