input[type="text"],
input[type="email"],
input[type="password"],
textarea
  padding: 0.4em 0.6em
  border-radius: 2px
  border: 1px solid #ccc
  
  &:focus
    outline: none
    border-color: $linkColor