// Layout basics and components

*
  box-sizing: border-box

html,
body,
#page
  height: 100%

body
  margin: 0

  background: #fff

  font-size: 16px
  font-family: Lato, Roboto, 'Open Sans', Helvetica, sans-serif
  color: $textColor

.container
  height: 100%

  &.ensure-full-height
    display: flex
    flex-direction: column
    justify-content: space-between


// Full width section
.fw-section
  width: 100%;
  padding: 2em 0

  &.alt
    background: $fillColor

.content-container
  max-width: 800px
  margin: 1em auto;
  padding: 0 1em
  flex-grow: 1



.hidden
  display: none
