
.modal-container
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%

.modal
  width: 600px
  min-height: 600px
  padding: 1em
  background: #fff
  border: 1px solid $borderColor


.modal-header
  margin-top: 0
