
.notification
  padding: 1em
  max-width: 30em
  margin: 0 auto
  background-color: $lightFillColor
  color: $textColor

.notification-error
  background-color: $errorLightColor
  color: $errorColor
