
.notification
  padding: 0.8em 1em 1em
  max-width: 30em
  margin: 0 auto
  background-color: $lightFillColor
  color: $textColor

  &.notification-dismissable
    position: relative
    padding-right: 2.8em

.notification-error
  background-color: $errorLightColor
  color: $errorColor

.notification-dismiss
  position: absolute
  right: 0.8em
  top: 0.8em
  cursor: pointer
