
.team-card-container
  display: flex

.team-card
  padding: 1em
  margin-right: 2em
  min-width: 12em
  border: 1px solid $lightBorderColor
  border-radius: $borderRadius

.team-card-name
  margin: 0

.team-card-info
  margin: 0.5em 0
  font-size: 0.8em

  &:last-child
    margin-bottom: 0
