// Variables
$brandColor     = #01579B
$brandColorText = rgb(255, 255, 255)
$textColor      = rgb(50, 50, 50)
$mutedColor     = rgb(150, 150, 150)
$fillColor      = #E7EDF0 // darker DCE5EB
$borderColor    = darken($fillColor, 30%)
$linkColor      = $brandColor

$avatarSize     = 60px