node_modules

people.json
data.js
notes.md
aws.json
dump.rdb

*.log
public/stylesheets/*.css
public/js/bundles/*
.awspublish-*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
