
.admin-section
  margin: 1em 0

.admin-list--item
  display: flex
  margin: 0.5em 0
  padding: 0.5em 1em 0.6em
  background: $lightFillColor
  border-radius: 2px

.admin-list--name
  flex-grow: 2

.admin-list--action
  margin-left: 6px
