
.page-headline
  text-align: center


.login-form
  width: 320px
  padding: 2em 1.5em
  margin: 2em auto
  background-color: $fillColor
  border-radius: 2px

  input
    width: 100%
    margin-bottom: 1em

  .login-button
    width: 100%
    border-radius: 2px

