
.page-headline
  text-align: center


.login-form
  width: 20em
  margin: 2em auto

  input,
  .login-button
    width: 100%
    margin: 0.5em 0

  .login-button
    padding: 0.5em 1em 0.6em

.form-copy
  // match the side padding of input fields in forms.styl
  margin: 0.5em 0.6em
  font-size: 0.8em
