
.profile-container
  display: flex
  flex-direction: column

.profile
  flex-grow: 1
  margin-top: $avatarSize * 2
  padding-top: 0
  
  .content-container
    display: flex
    align-items: center
    max-width: 480px
    position: relative
    top: - $avatarSize
    
.profile-avatar
  margin-right: 2em

.profile-details
  height: 90px
  
.profile-name
  margin: 0 0 18px
  font-size: 32px
  font-weight: normal

.profile-location
  margin: 0
  font-weight: normal
  
.profile-offset
  margin: 0 1em
  color: $mutedColor
  font-size: 0.8em