
.profile
  padding-top: 0

.profile-main
  text-align: center

.profile-avatar
  margin: 0.5em auto

.profile-details
  height: 90px

.profile-name
  margin: 0.3em 0
  font-size: 32px
  font-weight: normal

.profile-location
  margin: 0

  > span
    vertical-align: middle

  .location-icon
    width: 18px
    margin-right: 0.2em

.profile-offset
  margin-left: 0.8em
  color: $mutedColor
  font-size: 0.8em
  line-height: 1em

.profile-teams
  margin: 2em 0

.profile-team
  margin: 0 0.1em
