
.profile
  padding-top: 0

.profile-main
  max-width: 800px

.profile-avatar
  margin: 0.5em auto

.profile-details
  text-align: center

.profile-name
  margin: 0.3em 0
  font-size: 32px
  font-weight: normal

.profile-location
  margin: 0

  .location-icon
    position: relative
    top: 3px
    width: 18px
    margin-right: 0.2em

.profile-offset
  margin-left: 0.8em
  color: $mutedColor
  font-size: 0.8em
  line-height: 1em

.profile-teams
  margin: 2em 0

.profile-team
  margin: 0 0.1em

.profile-edit
  text-align: center

.profile-avatar-options
  margin: 1em 0
  text-align: center

  // space out the children
  > span,
  > .button
    margin: 0 0.2em
    vertical-align: middle

.profile-edit-form
  margin-top: 2em
