.site-footer
  padding: 1px 0
  background: #fff
  text-align: center

.footer-link

  margin-right: 1.5em

  &:last-child
    margin-right: 0


.about-page
  background-image: url(../images/wallpaper/outside-window.jpg)
  background-size: cover
  background-position: center

.roadmap-page
  background-image: url(../images/wallpaper/pch-driving.jpg)
  background-size: cover
  background-position: center

.roadmap-list
  margin: 1em 0


.roadmap-item
  max-width: 400px
  padding: 0.5em 1em
  margin: 0.5em auto

  background: #fff
  font-size: 1.1em
  border-radius: 2px
  box-shadow(0)
