.app-container
  display: flex
  min-width: 880px

$sidebarWidth = 180px
$sidebarPadding = 1em

.app-sidebar
  flex-shrink: 0
  width: $sidebarWidth
  padding: $sidebarPadding
  background: $fillColor

.app-sidebar--time
  margin: 0
  font-size: 2em
  text-align: center
  font-weight: normal

.app-sidebar--button-row
  display: flex
  justify-content: space-between

// .app-sidebar--format-select
//   text-align: center


.app-sidebar--admin
  margin: 1em 0
  width: "calc(%s - 2 * %s)" % ($sidebarWidth $sidebarPadding)

  button
    width: 100%


.timezone-list
  position relative
  display: flex
  height: 100%;
  justify-content: center
  flex-grow: 1 // this grows, the sidebar is a fixed width

.team-stats
  position absolute
  bottom 0.5em
  left 0
  right 0
  text-align center
  color $mutedColor

.timezone
  padding: 1em

// .timezone-major

.timezone-people
  display: flex

.timezone-people-column
  min-width: $avatarSize
  margin-right: 1em

// Timezones that are in nighttime
for hour in 0 1 2 3 4 5 6 7 22 23
  .timezone-hour-{hour}
    .avatar
      filter: grayscale(50%) brightness(0.8)

.timezone-header
  margin: 0.5em 0
  width: 80px
  text-align: left
  white-space: nowrap;

  p
    margin: 5px 0
    overflow: hidden
    text-overflow: ellipsis

.timezone-time
  margin: 5px 0
  font-weight: normal

.timezone-name
  font-size: 0.6em
  text-transform: uppercase
  font-weight: bold
  color: lighten($textColor, 20%)

.timezone-offset
  margin: 0
  font-size: 0.7em
  color: #61676F

.person
  position: relative
  margin: 0.8em 0
  cursor: pointer

  &:hover
    .person-info
      opacity: 1

.person-info
  position: absolute
  left: -20%
  right: -20%
  bottom: -2em
  z-index: 1000
  width: 140%
  max-width: 110px
  max-height: 3em
  margin: 0 auto
  padding: 0.3em 0.4em 0.4em

  opacity: 0
  transition: all 200ms
  background: #fff
  border-radius: 2px
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24)
  font-size: 0.8em
  font-weight: bold
  text-align: center

  p
    margin: 0
    line-height: 1.1em
    text-overflow: clip
    white-space: nowrap
    overflow: hidden

  .person-name
    margin-bottom: 0.3em

.person-city
  font-size: 0.8em
  font-weight: normal
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


.view-container
  position: absolute
  z-index: 1000
  top: 0
  left: 0
  right: 0
  width: 100%
  min-height: 100%
  padding: 1em
  background: #fff

// Editing modal
.manage-team--container
  display: flex
  height: 100%
  align-items: stretch
  padding: 3em 3em 0

.manage-team--header
  width: 40%
  padding-right: 2em

.manage-team--header-title
  margin: 1.6em 0 1em

.manage-team--row
  margin: 1em 0

input[type="text"].manage-team--invite-url
  width: 260px
  color: $mutedColor
  font-size: 0.8em
  border: 1px solid $borderColor
  border-radius: 2px
  cursor: text

.manage-team--close
  position: absolute
  top: 0
  right: 0

.manage-team--subview
  flex-grow: 1
  position: relative
  max-height: 100%

.manage-team--subview-team
  max-height: 100%
  display: flex
  flex-direction: column

.manage-team--team-header
  margin-bottom: 1em
  text-align: center

  input[type="search"]
    width: 315px
    border-radius: 0

.manage-team--team-list
  max-height: 100%
  overflow: scroll
  padding: 0 0.1em


.manage-team--team-member
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0.5em 0

.manage-team--team-member-info
  display: flex
  align-items: center

.manage-team--team-member-name
  margin-left: 1em

.manage-team--team-member-location
  margin-left: 0.5em
  color: $mutedColor

.manage-team--person
  display: flex
  align-items: center

  .edit-person
    margin: 2em auto 0



.edit-person
  display: flex
  flex-direction: column
  align-items: center

  .profile-location
    margin-bottom: 1.5em

.edit-person--row
  margin: 0.5em 0

.add-image-placeholder
  height: $avatarSize * 2
  width: $avatarSize * 2
  border-radius: 50%
  background: $fillColor
  line-height: $avatarSize * 2 - 1px
  text-align: center

.edit-person--timezone-display
  padding: 0.4em 10px
  color: $mutedColor
  font-size: 0.7em
  // border: 2px solid #fff
  // box-shadow: 0 1px 1px rgba(0,0,0,0.2)

// Mobile
@media screen and (max-width: 500px)

  .app-container
    min-width: 100%
    height: auto
    flex-direction: column

  .app-sidebar
    position: fixed
    z-index: 1
    width: 100%
    padding: 0.8em
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .site-branding
      margin: 0.2em 0 0

    // all children are 50%
    > *
      width: 50%

  .app-sidebar--time
    font-size: 1.5em
    text-align: right

  .meeting-planner-cta
    display: none

  .time-slider-container
    width: 40%
    order: 4 // put this under the time

  .time-slider
    margin: 0.9em 0 0

  .app-sidebar--button-row
    max-height: 27px
    width: auto
    margin-top: 0.7em
    margin-bottom: 0
    justify-content: flex-start

  .app-sidebar--format-select
    display: none
    // margin-right: 0.8em
    // white-space: nowrap

  // .app-sidebar--admin

  .timezone-list
    margin-top: 6em
    justify-content: flex-start
    flex-direction: column-reverse

  .team-stats
    position relative
    padding: 1em 0
    order -1

  .timezone
    display: flex
    width: auto
    padding: 0
    margin: 0.8em 0.8em 0

  .timezone-header
    flex-shrink: 0
    margin: 0 0.8em 0 0

  .timezone-people
    flex-direction: column
    flex-grow: 1

  .timezone-people-column
    display: flex
    flex-wrap: wrap
    margin: 0

  .person
    width: 25%
    margin: 0 0 0.5em

  .person-info
    display: block
    opacity: 1.0
    position: inherit
    z-index: inherit
    left: auto
    right: auto
    width: auto
    padding: 0
    bottom: auto
    box-shadow: none
    font-weight: normal

    .person-name
      margin: 0.3em 0 0

  .person-city
    display: none

  .avatar
    width: 84%
    height: 84% // height will match width
    margin: 0 auto
