files:
  "/opt/nginx/conf/www.conf":
    mode: "000644"
    user: root
    group: root
    encoding: plain
    content: |
      server {
        listen 8080;
        server_name www.timezone.io;
        return 301 $scheme://timezone.io$request_uri;
      }

container_commands:
  00installnginxconfig:
    test: ls /opt/nginx/conf/www.conf
    command: cp /opt/nginx/conf/www.conf /etc/nginx/conf.d/05_www.conf
