@import 'lib/normalize'

@import 'components/variables'
@import 'components/layout'
@import 'components/typography'
@import 'components/links'
@import 'components/buttons'
@import 'components/icons'
@import 'components/forms'
@import 'components/header'
@import 'components/avatars'
@import 'components/timeSlider'
@import 'components/modals'
@import 'components/autocomplete'

@import 'pages/homepage'
@import 'pages/team'
@import 'pages/profile'
@import 'pages/login'
