
// Variables

$brandColor     = #42A5F5
$brandColorText = rgb(255, 255, 255)
$textColor      = rgb(50, 50, 50)

$avatarSize     = 60px


// Basic

*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0

  background: #fff

  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif
  font-weight: 300
  color: $textColor

h1, h2, h3, h4, h5
  font-weight: normal


@import 'pages/homepage';
@import 'pages/team';
