<!DOCTYPE html>
<html>
<head>
</head>
<body style="{{{style.body}}}">
  <p>
    Welcome!
  </p>
  <p>
    To get started, you can <a href="http://timezone.io/my-profile">add more info to your profile here</a> or
    <a href="http://timezone.io/team">create a team here</a>. If you ever have questions, feedback or love
    you can email us at hi@timezone.io or tweet us at <a href="https://twitter.com/timezoneio">@timezoneio</a>!
  </p>
  <p>
    Dan from <a href="http://timezone.io">Timezone.io</a>
  </p>
</body>
</html>
