<!DOCTYPE html>
<html>
<head>
  <title>{{{title}}}</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="page">{{{body}}}</div>
  <script>
    var appData = {{{data}}};
  </script>
  <script src="/js/{{{script}}}"></script>
</body>
</html>